<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<form action="/login" method="post">
    <div>
        <label for="username">사용자명:</label>
        <input type="text" id="username" name="username" required placeholder="사용자명">
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required placeholder="비밀번호">
    </div>
    <div>
        <input type="submit" value="로그인">
    </div>
</form>
<p>
    계정이 없으신가요? <a href="/signup">회원 가입</a>
</p>
</body>
</html>
